
<br />

<div class="container container-fluid">



    


    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <thead>
          <tr><th colspan="8" id="tableTitle"><h3>User Data Profile</h3></th></tr>
          <tr>
            <th>Username</th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Recipe List Length</th>
            <th>Bar List Length</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{currentUser.username}}</td>
            <td>{{currentUser._id}}</td>
            <td>{{currentUser.user_first_name}}</td>
            <td>{{currentUser.user_last_name}}</td>
            <td>{{currentUser.email}}</td>
            <td>{{recipe_list.length}}</td>
            <td>{{bar_list.length}}</td>
            <td><button class="btn btn-warning" ng-click="openUpdateUserModal(currentUser)">Update
                </button>
				        <button class="btn btn-success" ng-click="delUser(currentUser)">Delete</button>
			     </td>
          </tr>
        </tbody>
      </table>
    </div>
  


    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4" id="tableTitle"><h3>User Recipe Data</h3></th>
            <th><button class="btn btn-success pull-right" ng-click="addRecipeModal(currentUser)">Add Recipe</button></th></tr>
          <tr>
            <th>Recipe Name</th>
            <th>Recipe Public?</th>
            <th>Recipe Creator</th>
            <th>CL Length</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="recipe in recipe_list">
            <td>{{recipe.name}}</td>
            <td>{{recipe.publick}}</td>
            <td>{{recipe.creator}}</td>
            <td>{{recipe.component_list.length}}</td>
            <td>
              <button class="btn btn-warning pull-right" ng-click="alternateRecipeBool(recipe)">Make Public/Private
                </button>
              <button class="btn btn-success pull-right" ng-click="openUpdateRecipeModal(recipe)">Update
                </button>
                <button class="btn btn-danger pull-right" ng-click="deleteRecipe(recipe)">Delete</button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  


  <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4" id="tableTitle"><h3>User Bar Data</h3></th>
            <th><button class="btn btn-success pull-right" ng-click="addBarModal(currentUser)">Add Ingredient</button></th></tr>
          <tr>
            <th>ID</th>
            <th>Ingredient Name</th>
            <th>Ingredient Public?</th>
            <th>Ingredient Owner</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ingredient in bar_list">
            <td>{{ingredient._id}}</td>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.publick}}</td>
            <td>{{ingredient.creator}}</td>
            <td><button class="btn btn-warning" ng-click="openUpdateBarModal(ingredient)">Update
                </button>
                <button class="btn btn-success" ng-click="deleteIngredient(ingredient)">Delete</button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>







    <!--Update Ingredient Modal Below-->
    <div class="modal fade" id="openUpdateIngredientModal" tabindex="-1" role="dialog" aria-labelledby="openUpdateIngredientModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit Ingredient</h4>
          </div>
          <div class="modal-body">
            <form class="form form-horizontal" name="IngredientUpdateForm" id="ingredientUpdate-form">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Ingredient Name</label>
                <div class="col-sm-8">
                  <input ng-model="updateIngredient.name" id="name" name="name" type="text" class="form-control" placeholder="{{updateIngredient.name}}" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Public?</label>
                <div class="col-sm-8">
                  <input ng-model="updateIngredient.publick" id="name" name="name" type="text" class="form-control" placeholder="{{updateIngredient.publick}}" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="updateIngredientInDb(updateIngredient)" type="button" class="btn btn-primary">Ok</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>

    </div>





    <!--Update Recipe Modal Below-->
    <div class="modal fade" id="openUpdateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="openUpdateRecipeModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit Recipe</h4>
          </div>
          <div class="modal-body">
            <form class="form form-horizontal" name="recipeUpdateForm" id="recipeUpdate-form">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Recipe Name</label>
                <div class="col-sm-8">
                  <input ng-model="updateRecipe.name" id="name" name="name" type="text" class="form-control" placeholder="{{updateRecipe.name}}" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Recipe Components</label>
                <div class="col-sm-8">
                  <input ng-model="updateRecipe.publick" id="publick" name="publick" type="text" class="form-control" placeholder="{{updateRecipe.publick}}" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="updateRecipeInDb(updateRecipe)" type="button" class="btn btn-primary">Ok</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>

    </div>




    <!--Update User Modal Below-->
    <div class="modal fade" id="openUpdateUserModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit User</h4>
          </div>
          <div class="modal-body">
            <form class="form form-horizontal" name="userUpdateForm" id="userUpdate-form">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">First Name</label>
                <div class="col-sm-8">
                  <input ng-model="updateUser.user_first_name" id="name" name="name" type="text" class="form-control" placeholder="{{updateUser.user_first_name}}" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Last Name</label>
                <div class="col-sm-8">
                  <input ng-model="updateUser.user_last_name" id="name" name="name" type="text" class="form-control" placeholder="{{updateUser.user_last_name}}" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="updateUserInDb(updateUser)" type="button" class="btn btn-primary">Ok</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>

    </div>





 <!--Add Bar Modal Below-->
    <div class="modal fade" id="addBarModal" tabindex="-1" role="dialog" aria-labelledby="barModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add Bar Ingredient</h4>
          </div>
          <div class="modal-body">
            <form class="form form-horizontal" name="addBarForm" id="addBar-form">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Name</label>
                <div class="col-sm-8">
                  <input ng-model="component.name" id="name" name="name" type="text" class="form-control" placeholder="{{component.name}}" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Public?</label>
                <div class="col-sm-8">
                  <input ng-model="component.publick" id="description" name="name" type="text" class="form-control" placeholder="{{component.publick}}" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="addBarToDB(component)" type="button" class="btn btn-primary">Ok</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>

    </div>



 <!--Add Recipe Modal Below-->
    <div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add Recipe</h4>
          </div>
          <div class="modal-body">
            <form class="form form-horizontal" name="addRecipeForm" id="addRecipe-form">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Recipe Name</label>
                <div class="col-sm-8">
                  <input ng-model="recipe.name" id="name" name="name" type="text" class="form-control" placeholder="{{recipe.name}}" />
                </div>
              </div>

              

              <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Public?</label>
                <div class="col-sm-8">
                  <fieldset  data-ng-repeat="comp in recipeComponents">
                  <input type="number" class="numInput" ng-model="comp.quantity" name="">
                  <select ng-model="comp.unit"  ng-options="x.name for x in units"></select>
                  <input type="text" ng-model="comp.name" name="">
                  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
               </fieldset>
                  </div>
                <button class="btn btn-warning" ng-click="addNewChoice()">+
                </button>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="addRecipeToDB(recipe, recipeComponents)" type="button" class="btn btn-primary">Ok</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>

    </div>
